*{
    font-family: 'roboto', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A3D45;
}

.container{
    background-color: #DDC9B4;
    padding: 20px;
    color: #2A3D45;
    display: flex;
    display: none;
}

.container > .block{
    background-color: #2A3D45;
    color: #DDC0B4;
}

.information-container{
    display: flex;
}

.information{
    margin-left: 5px;
}